<div class="container">
  <div class="text-center mt-2">
    <h1>Gerenciamento de Usuários</h1>
    <button class="btn btn-success" (click)="openOffcanvas()">Cadastrar</button>
    <table class="table mt-5">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>
          <th>WhatsApp</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let obj of list">
          <tr>
            <td>{{ obj.nome }}</td>
            <td>{{ obj.cpf }}</td>
            <td>{{ obj.telefone }}</td>
            <td>
              <button class="btn btn-primary me-2" (click)="openOffcanvas(obj)">
                Editar
              </button>
              <button class="btn btn-danger" (click)="excluir(obj.id)">
                Excluir
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<ng-template #drawerContent let-offcanvas>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvas-basic-title">Usuário</h5>
    <button
      type="button"
      class="btn-close"
      (click)="offcanvas.dismiss()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form [formGroup]="form">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          formControlName="nome"
          placeholder="Digite seu nome"
        />
        <label for="floatingInput">Nome</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="floatingCpf"
          formControlName="cpf"
          placeholder="Digite seu CPF"
        />
        <label for="floatingCpf">CPF</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="number"
          class="form-control"
          id="floatingTelefone"
          formControlName="telefone"
          placeholder="Digite seu telefone"
        />
        <label for="floatingTelefone">Telefone</label>
      </div>
    </form>
  </div>
  <div class="offcanvas-footer d-flex justify-content-end">
    <button class="btn btn-secondary me-3" (click)="offcanvas.dismiss()">
      Cancelar
    </button>
    <button class="btn btn-success" (click)="salvar()">Salvar</button>
  </div>
</ng-template>
